@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Poppins:wght@500&family=Ubuntu:wght@500&display=swap');

body{
    font-family: 'Ubuntu', sans-serif;
}

.child img{
    height: 550px;
    
}
.logo img{
    width: 100px;
}
footer{
    padding: 100px 0px;
}